name: Build node app and push to docker-image

on:
    push:
        branches: ["main"]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@4

            - name: docker login
              run:  docker login -u ${{secrets.DOCKER_USERNAME}} -p ${{secrets.DOCKER_PASSWORD}}

            - name: docker image 
              run:  docker build -t ${{secrets.DOCKER_USERNAME}}/node-project:latest

            - name: push docker image on docker hub
              run: docker push ${{secrets.DOCKER_USERNAME}}/node-project:latest