name: Build and Deploy Node App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: |
            mkdir -p build
            tar --exclude='./build' \
                --exclude='./.git' \
                -czf build/app.tar.gz .


      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.VM_SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

      - name: Install Ansible
        run: sudo apt install ansible -y

      - name: Run Ansible Playbook
        run: |
            ansible-playbook deploy/deploy.yml \
            -i "${{ secrets.VM_HOST }}," \
            --user "${{ secrets.VM_USER }}" \
            --private-key ~/.ssh/id_rsa

